.ContainerHeader {
    width: 100%;
    height: 7em;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.teste {
    border-bottom: 2px solid white;
}

.containerLogo {

    cursor: pointer;
    width: 7.5em;
    height: 2.4em;
    background-color: #ffffff;
    margin-left: 6em;
    background-image: url("../../imageLogo/logo4.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 0 10em 10em 0;
    margin-bottom: 1em;
}

.containerBar {
    display: flex;
    width: 20em;
    height: 6em;

    margin-right: 1em;

}

.containerBar ul {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #0a0a0a;
}

.link {
    color: white;
    display: inline;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 100;

}

.containerBar li:hover {
    border-bottom: .1em solid rgb(255, 255, 255);
}

.iconBars {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    color: white;
    display: none;

}

.menuMobile {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: white;
}

.menuMobile ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

.menuMobile ul li {
    color: white;
    padding: 0.3em;
    cursor: pointer;
}

.containerItensContato {
    display: flex;
    height: 1.5em;
    width: 5em;
    justify-content: space-between;
}

.linkedin {
    color: rgb(18 107 196);
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    margin-bottom: 5em;
}

.github {
    color: rgb(255, 255, 255);
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;

}


@media screen and (max-width:600px) {

    .containerItensContato {
        display: none;
    }

    .containerBar {
        display: none;
    }

    .iconBars {
        margin-top: 1em;
        display: block;
        color: white;
        margin-right: 2em;

    }

    .containerLogo {
        margin-left: 3em;
        margin-top: 2em;
    }

    .ContainerHeader {
        height: auto;
        margin-bottom: 2em;

    }

    .menuMobile {
        display: flex;
    }

}