.Project {
    border: 3px solid rgb(100, 100, 100);
    display: flex;
    width: 90%;
    border-radius: 2em;
    margin: 0 5em;
    margin: 1em 0;
    transition: border 0.9s;
    /* Adicione a transição para a propriedade 'border' */
}

.Project:hover {
    border: 3px solid white;
}

.containerImage {
    width: 50%;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descricao {
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    width: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
}

.image {
    border-top-left-radius: 2em;
    width: 100%;
    padding: 2em;
    height: 20em;
    object-fit: cover;
    /* Redimensiona a imagem para preencher a div, mantendo a proporção e cortando se necessário */
    object-position: center center;
    max-width: 35em;

}

.titulo {

    margin-bottom: 1em;
}

.icons {
    display: flex;
    justify-content: center;
    width: 90%;
    cursor: pointer;

    margin-bottom: 1em;
}

.icons .see {
    color: white;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.icons .github {
    color: white;
    width: 2em;
    height: 2em;
    margin-left: 1em;
}

.technologies {
    margin-top: 2em;
    display: flex;
    width: 100%;
    height: auto;

}

.technologie {
    margin: 0 0.3em;
}

@media screen and (max-width: 830px) {
    .Project {
        flex-direction: column-reverse;
    }

    .descricao {
        width: 100%;
        border-top-left-radius: 2em;
    }

    .containerImage {
        width: 100%;
    }

    .technologies {
        justify-content: center;
    }
}