* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a0a0a;
}

.App {
  max-width: 120em;
  margin: 0 auto;
}

.aws-btn {

  --slider-height-percentage: 47%;
  --slider-transition-duration: 394ms;
  --organic-arrow-thickness: 5px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 11%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 5px;
}

.awssld {
  height: 40em;


}

.active-link {
  border-bottom: .1em solid rgb(255, 255, 255);
}